* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient(120deg, #293bdc, #3b9df3);
    color: white;
    height: 100vh;
    overflow: hidden;
}

.main {
    display: flex;
    height: 100%;
}

/* Playlist */
.playlist {
    width: 28%;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);
    padding: 20px;
    overflow-y: auto;
}

.playlist-item {
    padding: 18px;
    margin-bottom: 12px;
    border-radius: 12px;
    cursor: pointer;
    transition: .3s;
    font-size: 24px;
    /* Bigger font size */
    font-weight: 600;
    /* Bold */
    letter-spacing: 0.5px;
    /* Slight spacing */
}

.playlist-item:hover {
    background: rgba(255, 255, 255, 0.2);
    transform: scale(1.03);
}

.active {
    background: rgba(255, 255, 255, 0.45);
    color: #000;
    font-weight: 700;
    border-left: 6px solid #00eaff;
}

/* Player */
.player-container {
    width: 72%;
    text-align: center;
}

.heading {
    font-size: 45px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.music-card {
    width: 55%;
    margin: auto;
    margin-top: 10px;
    padding: 28px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.12);
}

.cover {
    width: 78%;
    border-radius: 18px;
    margin-bottom: 16px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
    opacity: .8;
}

#progress {
    width: 100%;
    margin-top: 15px;
}

.time-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    font-size: 18px;
}

.controls button {
    font-size: 30px;
    margin: 0 10px;
    padding: 12px 20px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: .3s;
}

.controls button:hover {
    background: rgba(255, 255, 255, 0.2);
}

.volume-box {
    margin-top: 18px;
    font-size: 20px;
}

/* Responsive */
@media (max-width: 1100px) {
    .music-card {
        width: 70%;
    }
}

@media (max-width: 900px) {
    .main {
        flex-direction: column;
    }

    .player-container {
        width: 100%;
        order: 1;
    }

    .playlist {
        width: 100%;
        height: 40%;
        order: 2;
    }
}

@media (max-width: 600px) {
    .heading {
        font-size: 32px;
    }

    .controls button {
        font-size: 22px;
        padding: 8px 12px;
    }
}